{% extends 'base.html.twig' %}

{% block main %}
<div class="col-lg-3">
  <div class="list-group mt-3">
    <li class="list-group-item list-group-item-secondary">De quel type est la question ?</li>
    {% for typeReponse in typesReponses %}
      <a href="{{ path('admin_liste_etudiants', {'promo': promotion.getId()}) }}" class="list-group-item list-group-item-action">{{ promotion }}</a>
    {% endfor %}
      <a href="{{ path('admin_add_typeReponse') }}" class="btn btn-secondary btn-lg" role="button" aria-pressed="true"><i class="fas fa-upload"></i> Créer un nouveau type de réponse</a>
  </div>
</div>
{% endblock %}